<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Match | TripTo</title>
    <link rel="stylesheet" href="findmatchcss.css">
</head>
<body>
<h1>Find Match</h1>

<br>

<h3 class="section-title">Suggested Matches</h3>

<br>
<section class = "suggestions">
    <div class="matchuser">
        <img src="user1.jpg" alt="User 1">         <!-- idk how to put randomize user here-->
        <h3>Sugested User Name</h3>                 <!-- I only put the basic codes-->
        <p>Compatibility: 85%</p>
        <button class="btnmatch">Match</button>
    </div>

    <div class="matchuser">
        <img src="user3.jpg" alt="User 2">
        <h3>Sugested User Name</h3>
        <p>Compatibility: 90%</p>
        <button class="btnmatch">Match</button>
    </div>

    <div class="matchuser">
        <img src="user4.jpg" alt="User 3">
        <h3>Sugested User Name</h3>
        <p>Compatibility: 80%</p>
        <button class="btnmatch">Match</button>
    </div>

    <div class="matchuser">
        <img src="user5.jpg" alt="User 4">
        <h3>Sugested User Name</h3>
        <p>Compatibility: 86%</p>
        <button class="btnmatch">Match</button>
    </div>
    <div class="matchuser">
        <h3>Cant find matches?</h3>
        <p>Why dont you try clicking me</p>
        <button class="btnloadmore">Load More</button>
    </div>



</section>


</body>
</html>