<section th:fragment="hero" class="hero" xmlns:th="http://www.thymeleaf.org">
    <div class="hero-content">
        <h1 class="hero-text">
            Explore with <span class="highlight-blue">People</span> who </br>
            <span class="highlight-pink">match</span> your <span class="highlight-blue">Vibe!</span>
        </h1>
        <p>TripTo connects you with travelers who share your personality, interests, and travel style.</p>
        <div class="hero-buttons">
            <button class="btn-primary">Create a Trip</button>
            <button class="btn-secondary">Find your Match</button>
        </div>
    </div>
    <img src="/images/landingpage-hero1.png" alt="Travel group" class="hero-img">
</section>
